{% extends 'base.html' %} {% block content %}
<div class="bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 offset-lg-2">
        <h3 class="mt-5 text-center">
          Choose Account Type
        </h3>
        <br />
        <p>{{ error_message }}</p>
        <div class="row">
          <div class="col-lg-6">
            <div class="card" style="">
              <img src="..." class="card-img-top" alt="..." />
              <div class="card-body">
                <h5 class="card-title">Freelancer ?</h5>
                <p class="card-text">
                  Create a Freelance account
                </p>

                <form method="post" action=".">
                  {% csrf_token %}
                  <input type="hidden" name="account" value="freelance" />
                  <button type="submit" class="btn btn-primary">
                    Freelancer
                  </button>
                </form>
                <!-- <a href="{% url 'lancer_account' %}" class="btn btn-primary"
                ></a -->
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="card" style="">
              <img src="..." class="card-img-top" alt="..." />
              <div class="card-body">
                <h5 class="card-title">Agency ?</h5>
                <p class="card-text">
                  Create a client account
                </p>
                <form method="post" action=".">
                  {% csrf_token %}
                  <input type="hidden" name="account" value="client" />
                  <button type="submit" class="btn btn-primary">Client</button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <br />
        <br />
        <br />
        <br />
      </div>
    </div>
  </div>
</div>
{% endblock %}
