{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Truehive Dashboard | {{user.username}}</title>
    <link
      rel="stylesheet"
      href="//fonts.googleapis.com/css?family=Titillium+Web:400,300,700&amp;subset=latin,latin-ext"
      type="text/css"
    />

    <link rel="stylesheet" href="{% static './css/bootstrap-ui.min.css' %}" />
  </head>
  <body>
    <!-- Main navigation -->
    <nav class="navbar navbar-static-top navbar-primary">
      <div class="container">
        <!-- Brand and menu toggle -->
        <div class="navbar-header">
          <button
            type="button"
            class="navbar-toggle"
            data-toggle="collapse"
            data-target="#kssMenu"
          >
            <span class="sr-only">Menu</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a
            href="#"
            class="navbar-brand offset-right-large"
            title="Bootstrap UI"
            >Truehive</a
          >
        </div>
        <!-- Collapsible menu -->
        <div class="collapse navbar-collapse" id="kssMenu">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Dashboard</a></li>
            <li><a href="#">Pages</a></li>
            <li><a href="#">Media</a></li>
            <li><a href="#">Users</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="navbar-icon">
              <a href="#" target="_blank" title="Open site in a new tab">
                <span
                  class="glyphicon glyphicon-home"
                  aria-hidden="true"
                ></span>
                <span class="visible-xs">Home</span>
              </a>
            </li>
            <li class="navbar-icon">
              <a href="#" title="Settings">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                <span class="visible-xs">Settings</span>
              </a>
            </li>
            <li class="dropdown">
              <a
                href="#"
                class="dropdown-toggle"
                data-toggle="dropdown"
                title="My profile"
              >
                <span
                  class="glyphicon glyphicon-user offset-right"
                  aria-hidden="true"
                ></span>
                <span class="visible-xs-inline offset-right">My Profile</span>
                <span
                  class="glyphicon glyphicon-menu-down"
                  aria-hidden="true"
                ></span>
              </a>
              <ul class="dropdown-menu">
                <li class="dropdown-header">James Brown</li>
                <li class="divider"></li>
                <li>
                  <a href="#">
                    <span
                      class="glyphicon glyphicon-user offset-right icon-shift-down"
                      aria-hidden="true"
                    ></span>
                    My Account
                  </a>
                </li>
                <li>
                  <a href="#">
                    <span
                      class="glyphicon glyphicon-off offset-right icon-shift-down"
                      aria-hidden="true"
                    ></span>
                    Sign out
                  </a>
                </li>
              </ul>
            </li>
            <!-- .dropdown -->
          </ul>
          <!-- .nav -->
        </div>
        <!-- .collapsible -->
      </div>
      <!-- .container -->
    </nav>
    {% block content %} {% endblock %}
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>
    <script src="{% static './js/bootstrap-ui.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
  </body>
</html>
