{% extends './base.html' %} {% block title %} - Projects {% endblock title %}

{% block topSection %}
<!-- <div class="row">
    <div class="col-sm-8">
        <h1 class="section-header-title">
            <span class="fas fa-mug-hot 3x"></span> — Projects
        </h1>
    </div>
    <div class="col-sm-1">
        <a href="#" class="btn btn-primary btn-raised cta">
            <span class="glyphicon glyphicon-plus-sign offset-right" aria-hidden="true"></span>
            New Page
        </a>
    </div>
</div> -->
<h2 class="section-header-title"> <span class="fas fa-mug-hot 3x"></span> — Projects
</h2>
{%  endblock %}
{%block content %}
<div class="container">


    <div class="panel-body">
        List of pojects to work on.
    </div>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="table-cell-id">#</th>
                    <th>Project Title</th>
                    <th>Speciality</th>
                    <th>Deadline</th>
                    <th>Price</th>
                    <th class="text-right">Date Posted</th>
                </tr>
            </thead>
            <tbody>
                {% for project in projects %}
                <tr>
                    <td class="table-cell-id">{{ forloop.counter }}</td>
                    <td><a href="/dashboard/projects/{{ project.id}}">{{ project.name }}</a></td>
                    <td>{{ project.get_category_display }}</td>
                    <td>{{ project.duration }}</td>
                    <td>GHc. {{ project.price_range }}</td>
                    <td class="text-right text-nowrap">
                        <small>{{ project.date_posted }}</small>
                        <!-- <small>06/09/2015 18:05</small> -->
                    </td>

                </tr>

                {% endfor %}

            </tbody>
        </table>
    </div>
</div>
<!-- — Thumbnails
  <span class="fas fa-mug-hot fa-5x" aria-hidden="true"></span>
  <span class="visible-xs">Notifications</span> -->
</div>

{% endblock %}