{% extends './base.html' %} {% block title %} - Dashboard {% endblock %} <br />



{% block topSection %}

<h2 class="section-header-title"> <span class="fas fa-mug-hot 3x"></span> Notifications
</h2>
{%  endblock %}

{% block content %}

<div class="container">

  <div class="panel-body">
    List of pending projects to be finished
  </div>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th class="table-cell-id">#</th>
          <th>Message</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for notification in notifications %}
        <tr>
          <td class="table-cell-id">{{ forloop.counter }}</td>
          <td>
              {% if notification.read == False %}
              <a href="/dashboard/notifications/read/{{notification.id }}">
                {{ notification.note }}
              </a>
              {% else %}
                {{ notification.note }}
              {% endif %}
        </td>
          <td class="table-cell-actions">
            <a href="/dashboard/notifications/read/{{notification.id }}" class="item-action item-action-default"
            title="read notification">
            Read
          </a>
          </td>
        </tr>

        {% endfor %}

      </tbody>
    </table>
  </div>
</div>
<!-- — Thumbnails
<span class="fas fa-mug-hot fa-5x" aria-hidden="true"></span>
<span class="visible-xs">Notifications</span> -->
</div>

{% endblock %}